<!DOCTYPE html>
<html>

<head>

  <title>Video Consultation</title>

  <link rel="stylesheet"
  href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="page-container">

  <h1>Video Consultation</h1>

  <div class="video-container">

    <div class="video-box">

      <h2>Doctor Camera</h2>

    </div>

    <div class="video-box">

      <h2>Patient Camera</h2>

    </div>

  </div>

  <div class="video-controls">

    <button>🎤 Mic</button>

    <button>📷 Camera</button>

    <button style="background:red;">
      End Call
    </button>

  </div>

</div>

</body>

</html>